* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  font-family: "Inter", sans-serif;
}

#container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  box-shadow: 0 0 3rem .3rem rgba(0, 0, 0, 0.1);
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 10px;
}

h2 {
  margin: 0;
}

span{
  display: flex;
  align-items: center;
  gap: .6rem;
  opacity: 0.5;
}
span ion-icon{
  font-size:1rem;
  opacity: 1;
  color:#000;
}